@page "/"

<h1>Instructions</h1>

<p>
    Welcome to the TrueNorthGroup Technical Evaluation. The goal of this assessment is to test your problem solving skills. You have the whole day (if you need it) to complete this assessment.
</p>

<h3>Technologies Tested</h3>

<ul>
    <li>HTML5</li>
    <li>CSS3 / Bootstrap</li>
    <li>Blazor Server Side (Very basic so nothing to worry about)</li>
    <li>MSSQL,EntityFramework</li>
</ul>

<h3>Additional Info</h3>

<p>Feel free to ask if anything is unclear. You are free to use google as much as you want as long as YOU are the one using it and coding</p>
